body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  direction: rtl;
  text-align: right;
}

.container {
  width: 60%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

input {
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}
